# JJR runtime config schema compatible with repo generator

NETWORK_AP_NAME_PREFIX=Nariz Digital-

TELEMETRY_BROKER=mqtt.riosvivos.org
TELEMETRY_PORT=1883
TELEMETRY_MQTT_PACKET_SIZE=768
TELEMETRY_TOPIC_BASE=riosvivos/monitoring/

SAMPLING_PUBLISH_INTERVAL_MS=1200000
SAMPLING_STATUS_INTERVAL_MS=30000
SAMPLING_RECONNECT_INTERVAL_MS=30000
SAMPLING_OFFLINE_STATUS_INTERVAL_MS=30000

OTA_JSON_URL=https://ota.riosvivos.org/movocs.json
OTA_CHECK_INTERVAL_MS=3600000

INSTRUMENT_MQ135_HEALTHCHECK_INTERVAL_MS=1200000

