# Configuracion local via mDNS - sin SSL, solo HTTP
# Panel de administracion - admin.${DOMAIN}

server {
    listen 80;
    listen [::]:80;
    server_name admin.${DOMAIN};

    client_max_body_size 8m;

    location / {
        proxy_pass http://admin-panel:5000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
