# Configuracion local via mDNS - sin SSL, solo HTTP
# Servidor de actualizaciones OTA (ESP32OTAPull) - ota.${DOMAIN}

server {
    listen 80;
    listen [::]:80;
    server_name ota.${DOMAIN};

    root /usr/share/nginx/ota;

    location / {
        autoindex off;
        try_files $uri =404;
    }
}
